.none {
    padding-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.title {
    font-family: 'Courier Prime', monospace;
    font-size: 3rem;
    font-weight: bold;
}

.button {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  transition: transform 0.2s ease;
  transform-origin: right center; /* 👈 ajoute cette ligne magique */
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.1);
}

  .info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
  }

  .infoT {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5%;
  }

  @media screen and (max-width: 768px) {
    .title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .infoT {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .info {
      font-size: 1rem;
      text-align: center;
    }
  
    .button {
      justify-content: center;
      margin-top: 20px;
    }
  
    .none {
      text-align: center;
      font-size: 1rem;
    }
  
    /* Ajout bonus pour les listes */
    .listCard {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
